<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Member">
    <insert id="save" parameterType="member">
        insert into board_member(memberId,memberPassword,memberName,memberEmail,memberMobile,memberProfileName)
        values(#{memberId}, #{memberPassword}, #{memberName}, #{memberEmail}, #{memberMobile}, #{memberProfileName})
    </insert>

    <select id="duplicateCheck" parameterType="String" resultType="String">
        select memberId from board_member where memberId = #{memberId}
    </select>

    <select id="login" parameterType="member" resultType="member">
        select * from board_member where memberId = #{memberId} and memberPassword = #{memberPassword}
    </select>

    <select id="findAll" resultType="member">
        select * from board_member
    </select>

    <select id="findById" parameterType="Long" resultType="member">
        select * from board_member where id = #{id}
    </select>

    <delete id="delete" parameterType="Long">
        delete from board_member where id = #{id}
    </delete>
    <select id="pagingList" parameterType="java.util.HashMap" resultType="member">
        select * from board_member order by id desc limit #{start}, #{limit}
    </select>

    <select id="count" resultType="int">
        select count(id) from board_member
    </select>

    <update id="update" parameterType="member">
        update board_member set memberEmail = #{memberEmail}, memberMobile=#{memberMobile} , memberProfileName = #{memberProfileName} where id= #{id}
    </update>

</mapper>